---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Special+Elite|Iceberg');

.page-header-custom {
	color: $header-heading-color;
  	text-align: center;
  	background-color: $header-bg-color;

  	h1 {
  		font-family: 'Iceberg';
  		font-size: 600%;
  	}

  	h2 {
  		font-family: 'Alegreya Sans SC';
  		font-size: 200%;
  	}

  	h3 {
  		font-family: 'Special Elite';
  	}

	@include large {
		padding: 5rem 6rem;
	}

	@include medium {
		padding: 3rem 4rem;
	}

	@include small {
		padding: 2rem 1rem;
	}
}